html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:62.5%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

html {
    font-size: 62.5%;
}

p, li {
    font-size: 1.6rem;
}

.jumbo {
    height: 700px;
    width: 100%;
    /*background: url(CrowdTippedDarkerBlue.png) no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

video {
    position: fixed; right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: -100;
}

.login{
    font-family: "SourceSansPro-Bold", sans-serif;
    font-size: 1.4rem;
    float: right;
    margin-right: 5rem;
    margin-top: 2.5rem;
    border: 1px solid white;
    padding: 1rem 1.5rem;
    color: white;
    clear: both;
}

.login:hover {
    border: 1px solid black;
    margin-bottom: 2rem;
    color: black;
    cursor: pointer;
}

.login:active {
    position: relative;
    top: 2px;
    border: none;
    margin-bottom: 2.2rem;

}

.bg-white {
    background-color: rgba(231, 231, 231, 0);
    float: right;
    clear: both;
    width: 80%;
    height: 50rem;
    margin-top: 8.5rem;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.iphone {
    margin-right: 10rem;
    position: fixed;
    right: 10rem;
    transition: all 2s ease-in-out;
    margin-top: -5rem;
}

h4 {
    text-align: center;
    padding-right: 1.9rem;
    font-size: 2rem;
    font-family: "Source SourceSansPro", sans-serif;
    font-weight: bold;
}

.event-form {
    width: 20.9rem;
    height: 60rem;
    float:right;
    margin-right: 19rem;
    margin-top: 5rem;
}

.event-form input {
    width: 17.6rem;
    height: 2.5rem;
    padding-left: 1rem;
    margin-top: 1.5rem;
    border-radius: .4rem;
    box-shadow: 3px 3px 5px 6px #ccc;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    -moz-box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.13);
    box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.13);
}

/*.event-form :nth-child(5) {
	width: 14.5rem;
	margin-right: .5rem;
}*/

.event-form [type="submit"] {
    width: 18.8rem;
    height: 3.5rem;
    color: white;
    background-color: #EC0000;
    border: 1px solid rgb(2, 2, 2);
    border-bottom: 2px solid rgb(142, 12, 12);
    border-top: none;
    cursor: pointer;
}

.event-form [type="submit"]:active {
    position: relative;
    top: 2px;
    border: none;
}

.event-form [type="submit"]:focus {
    outline: 0;
}

.event-form button {
    height: 2.6rem;
    width: 2.6rem;
    padding-top: .3rem;
    color: white;
    background-color: #EC0000;
    border: 1px solid rgb(2, 2, 2);
    border-bottom: 2px solid rgb(142, 12, 12);
    border-top: none;
    border-radius: .4rem;
    cursor: pointer;
    cursor: hand;
    outline: none;
}

.event-form button:active {
    border: none;
    position: relative;
    top: 2px;
    outline: none;
}

h1 {
    font-size: 8em;
    margin-left: 5rem;
    margin-top: 5rem;
    font-family: "Source SourceSansPro", sans-serif;
    font-weight: bold;
}

h5 {
    font-size: 2.5rem;
    margin-left: 6rem;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    margin-top: 1rem;
    color: slategrey;
}

.create-btn {
    height: 5rem;
    width: 18rem;
    margin-left: 5rem;
    margin-top: 5rem;
    border-radius: .5rem;
    /*background: #939393;
    border: 1px solid #292929;*/
    background: #EC0000;
    border: 1px solid rgb(2, 2, 2);
    border-top: none;
    font-family: SourceSansPro-Bold;
    font-size: 1.6rem;
    color: #E1EDF8;
    line-height: 2.6rem;
    border-bottom: 2px solid rgb(142, 12, 12);
    cursor: pointer;
    cursor: hand;
}

.create-btn:hover {
    background-color: #EC0000;
}

.create-btn:active {
    position: relative;
    top: 2px;
    border: none;
}

.create-btn:focus {
    outline: none;

}

h6 {
    margin-left: 8.7rem;
    margin-top: 1rem;
    font-family: sans-serif;
    font-style: italic;
    font-size: 1.2rem;
    color: #5B5B5B;
}

h6:hover {
    text-decoration: underline;
    cursor: pointer;
    cursor: hand;
}

.middle {
    width: 100%;
    height: 71rem;
    background-color: #f2f2f2;
    padding-left: 10rem;
    box-sizing: border-box;
    transition: background-color 0.8s ease;
}

.middle:hover {
    background-color: #EC0000;
}

.middle h3 {
    font-size: 3rem;
    font-family: "Open Sans Pro", sans-serif;
    font-weight: bold;
    color: white;
    padding-top: 25rem;
    margin-bottom: 2rem;
}

.middle ol, p, li {
    font-family: "Minion Pro", serif;
    font-weight: 400;
    color: white;
    margin: 2rem 0;
}

.bottom {
    width: 100%;
    height: 70.8rem;
    background-color: rgb(58, 149, 174);
    padding-left: 10rem;
    z-index: 1;
    box-sizing: border-box;
}

.bottom h3 {
    font-size: 3rem;
    font-family: "Open Sans Pro", sans-serif;
    font-weight: bold;
    padding-top: 25rem;
    margin-bottom: 2rem;
    color: white;
}

.bottom p {
    font-family: "Minion Pro", serif;
    font-weight: 400;
    margin: 2rem 0;
    width: 42%;
    line-height: 3.5rem;
    color: white;
}

.confirmation {
    height: 100vh;
    width: 100vw;
    font-size: 60px;
    font-family: "Open Sans Pro", sans-serif;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    margin-bottom: 20px;
}

.confmsg {
    font-size: 20px;
    font-family: "Minion Pro", serif;
    width:60%;
    color:black;
    margin: 0 auto;
    margin-top: 50px;
}